.carousel{
    carousel-component{
        overflow: hidden;
        width: 100%;
        display: block;
        height: $carousel-height;
        position: relative;
    }
    .slide{
        background-size: cover;
        display: none;
        height: 100%;
        position: relative;
        &::before{
            content:'';
            width: 100%;
            height:100%;
            position: absolute;
            background-color: rgba(0,0,0,0.2);
            transition: background-color 0.3s ease-in-out;
        }
        &:hover{
            &:before{
                background-color: rgba(0,0,0,0.5);
            }
        }
        &.active{
            display: block;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            transform: translateX(0);
            transition: transform 1s ease-in-out;
            will-change: transform;
        }

        &.left {
            transform: translateX(-100%);
        }
        &.right {
            transform: translateX(100%);
        }
    }
    .caption-area{
        position: absolute;
        bottom: 0;
        height: 80px;
        width: 100%;
        color: $color-white;
        padding: px-to-rem(10px) px-to-rem(30px);
    }
    .subtitle, .title{
        display: block;
    }
    .title{
        font-size: px-to-rem(36px);
    }
    $buttonSize: 40px;
    $buttonFontSize: 20px;
    .btn-carousel{
        height: $buttonSize;
        width: $buttonSize;
        border-radius: $buttonSize;
        background-color: rgba(0,0,0,0.8);
        color: $color-white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: $buttonFontSize;
        line-height: .75;
        cursor: pointer;
        &:hover{
            span{
                color: $color5;
            }
        }
        span{
            position: relative;
            text-align: center;
            display: block;
            top: ($buttonSize -  $buttonFontSize)/ 2;
        }
        &.next{
            right: 14px;
        }
        &.previous{
            left: 14px;
        }
    }
}
