.hero{
  background-size:cover;
  background-position: left center;
  height:100vh;
  overflow: hidden;
  position: relative;
  &:before{
      content: ' ';
      position: absolute;
      height: 100vh;
      width: 100%;
      background-color: rgba(0,0,0,0.3);
      display: block;
  }
  video{
      min-width: 100%;
      min-height: 100vh;
  }
  $hero-padding:50px;
  .hero-content{
      position: absolute;
      bottom: $hero-padding;
      left: $hero-padding;
	h1{
	  @include font-sans-serif(65px);
      color: $color-white;
	}
    img{
        width: 100%;
    }
  }
}
