<div class="bicycle-container">
    <a class="bicycle" href="http://codepen.io/elnels/pen/yVZdjQ" target="_blank">
        <div class="wheel front">
            <span class="spoke first"></span>
            <span class="spoke second"></span>
        </div>
        <div class="wheel back">
            <span class="spoke first"></span>
            <span class="spoke second"></span>
        </div>
        <div class="gear big"></div>
        <div class="gear small"></div>
        <div class="frame">
            <span class="bottom bar"></span>
            <span class="left bar"></span>
            <span class="middle-left bar"></span>
            <span class="middle-right bar"></span>
            <span class="top bar"></span>
            <span class="right bar"></span>
        </div>
        <div class="seat"></div>
        <div class="handlebars"></div>
    </a>
    <a href="/" title="Emmanuel Nelson" class="logo">Emmanuel Nelson</a>    
</div>
