<header navigation offset="60" du-scrollspy="work" offset="200">
    <nav>
        <div class="menu" ng-click="toggleMenu();">
            <span class="menu-button" ng-class="{'close':showMenu}"></span>
        </div>
        {{> bicycle}}
    </nav>
    <div class="mobile-menu" ng-class="{'show':showMenu}">
        <ul>
            <li><a ng-click="scrollTo('work')" href="">Work</a></li>
            <li><a ng-click="scrollTo('about')" href="">About</a></li>
            <li><a ng-click="scrollTo('contact')" href="">Contact</a></li>
        </ul>
    </div>
</header>
