    <a *ngFor="let slide of slides" class="slide" [ngClass]="{'active':slide.active, 'left':slide.left,'right':slide.right,'prev':slide.prev,'next':slide.next}" href="{{slide.link}}" [style.background-image]="'url(' + slide.image.url + ')'">
        <div class="caption-area">
            <span class="subtitle">{{slide.subTitle}}</span>
            <span class="title">{{slide.title}}</span>
        </div>
    </a>
    <div class="btn-carousel next" (click)="next()"><span>></span></div>
    <div class="btn-carousel previous" (click)="previous()"><span><</span></div>
