<div class="home">
	<section class="hero">
		<!-- <video src="/images/jimmy-home.mp4" loop="true" autoplay="true"></video> -->
		<video [src]="home?.backgroundImage.filename" *ngIf="home?.backgroundImage" loop="true" autoplay="true"></video>
		<div class="hero-content">
			<img *ngIf="home?.logo" src="home?.logo.filename" />
			<h1 *ngIf="!home?.logo">Jimmy Watkins</h1>
		</div>
	</section>
	<section class="main-content">
		<div class="carousel">
			<carousel-component *ngIf="home" [slides]="home?.carousel"></carousel-component>
		</div>
		<div class="additional-tile">
			<p [innerHTML]="home?.about"></p>
		</div>
	</section>
</div>
