body{
  background-color:$color-primary;
  color:$color-secondary;
}
html{
  font-size:$base-font-size;
  @media (max-width: $breakpoint-tablet-small){
	font-size:$base-font-size*.8 !important;
  }
  @media (max-width: $breakpoint-mobile){
	font-size:$base-font-size*.6 !important;
  }
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
  }

